# Eclipse/STS
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.target
.classpath
.project
.externalToolBuilders/
*.launch
.springBeans
.recommenders/

# PyDev
*.pydevproject

# CDT
.cproject
.autotools

# PHP (PDT)
.buildpath

# Annotation Processing
.factorypath
.apt_generated/
.apt_generated_test/

# Scala IDE
.cache-main
.scala_dependencies
.worksheet

# Maven / Gradle / Build
target/
build/
out/
.gradle/
.gradle/
*.log

# IntelliJ
*.iml
.idea/
*.iws

# H2 database files
*.h2.db
*.mv.db

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
