<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Alan Quintero">
<title>Itinerary Test Task</title>
<link rel="stylesheet" href="styles.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
</head>
<body>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Available Trips</h1>
		</div>

		<table id="flights-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Origin</th>
					<th scope="col">Destination</th>
					<th scope="col">Price</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${flights.empty}">
					<td colspan="2">No Flights Available</td>
				</tr>
				<tr th:each="flight : ${flights}">
					<td><span th:text="${flight.origin}"></span></td>
					<td><span th:text="${flight.destination}"></span></td>
					<td><span th:text="${flight.price + ' ' + flight.currency}"></span></td>
					<td>
						<button type="button" th:data-flight="${flight.id}"
							onclick="book(this.getAttribute('data-flight'));"
							class="btn btn-primary">Book</button>
					</td>
					<td>
						<div class="hidden-important" th:id="${flight.id}"
							th:text="${flight.origin + ' to ' + flight.destination + ' - $' + flight.price + ' ' + flight.currency}"></div>
					</td>
				</tr>
			</tbody>
		</table>

		<form id="book-form">
		    <div class="hidden-important" id="flight-id"></div>
			<div id="flight-details"></div>
			<div class="form-group">
				<label for="exampleInputEmail1">First Name</label> <input
					type="text" class="form-control" id="firstName"
					placeholder="First Name" autocomplete="off">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Last Name</label> <input
					type="text" class="form-control" id="lastName"
					placeholder="Last name" autocomplete="off">
			</div>
			<button id="bookButton" type="button" onclick="bookFlight()" class="btn btn-primary">Book!</button>
			<button id="cancelButton" type="button" onclick="cancelBook()" class="btn btn-danger">Cancel</button>
		</form>
		<br>
		<button id="goToHomeButton" type="button" onclick="goToHomePage()" class="hidden btn btn-success">Return to Home page</button>
		<br><br>
		<div id="msg-box" class="hidden alert" role="alert"></div>

	</main>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
<script>
	function book(flightId) {
		document.getElementById("flight-id").innerHTML = flightId;
		document.getElementById("flight-details").innerHTML = document
				.getElementById(flightId).innerHTML;
		document.getElementById("book-form").style.display = "block";
		document.getElementById("flights-table").style.display = "none";
	}

	function bookFlight() {
		var firstName = document.getElementById("firstName").value;
		var lastName = document.getElementById("lastName").value;
		if (firstName === '' || lastName === '') {
			showMsgBox("alert-danger", "First Name and Last Name are required!");
		} else {
			document.getElementById("bookButton").disabled = true;
			document.getElementById("cancelButton").disabled = true;
			var flightId = document.getElementById("flight-id").innerHTML;
			var reservationInfo = {flightId:flightId, firstName: firstName, lastName: lastName};
			resetMsgBox();
			document.getElementById("goToHomeButton").classList.remove("hidden");
			$.ajax({
	            url: '/reserveFlight',
	            type: 'post',
	            dataType: 'json',
	            contentType: 'application/json',
	            data: JSON.stringify(reservationInfo),
	            success: function (data) {
	            	var msgType = '';
	            	if(data.status === 'success') {
	            		msgType = "alert-success";
	            	} else if(data.status === 'already-book') {
	            		msgType = "alert-warning";
	            	} else {
	            		msgType = "alert-danger";
	            	}
	            	showMsgBox(msgType, data.message);
	            },
	            error: function (jqXHR, textStatus, errorThrown) { 
	            	showMsgBox("alert-danger", "Something went wrong. Please contact admin.");
	            }
	        });
		}
	}
	
	function showMsgBox(msgType, message) {
		document.getElementById("msg-box").classList.add(msgType);
		document.getElementById("msg-box").innerHTML = message;
		document.getElementById("msg-box").classList.remove("hidden");
	}
	
	function resetMsgBox() {
		document.getElementById("msg-box").innerHTML = "";
		document.getElementById("msg-box").className = "";
		document.getElementById("msg-box").classList.add("alert");
		document.getElementById("msg-box").classList.add("hidden");
	}

	function cancelBook() {
		location.reload();
	}
	
	function goToHomePage() {
		resetMsgBox();
		document.getElementById("goToHomeButton").classList.add("hidden");
		location.reload();
	}
	
</script>
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

</html>

